
body{
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.tp-dfwv{
  width: 300px !important;
}
/* .tp-lblv_v{
  width: 200px !important;
} */

@import './assets/style/clip.scss'